<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - NORTHWIND</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="/image/logo.ico" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
        .icon-button {
            font-size: 56px;
            border: none;
            background-color: transparent;
            outline: none;
            margin-right: 25px; /* Aralık ayarı */
            vertical-align: middle; /* İkonun ortalanmasını sağlar */
        }

        .custom-icon {
            font-size: 56px;
            background: white;
            border: none;
            padding: 13px;
            cursor: pointer;
        }

        .nav-link {
            font-size: 24px;
        }

        .fixed-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar-nav {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0;
            padding: 0;
        }


        .navbar-nav.ms-auto {
            display: flex;
            align-items: center;
            margin-left: auto; /* Sağ tarafa hizalamak için */
        }
    </style>
    <script>
        let shouldLogout = false;

        function redirectToBag() {
            window.location.href = '@Url.Action("Default", "Bag")';
        }
        function clearCookies() {
            const cookies = document.cookie.split(";");

            cookies.forEach(cookie => {
                const [name] = cookie.split("=");
                document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/";
            });
        }
        function handleLogout() {
            shouldLogout = true;
            localStorage.clear();
            navigator.sendBeacon('/Account/Logout');
            window.location.href = '@Url.Action("Login", "Account")';
            clearCookies();
        }

        window.addEventListener('beforeunload', function (e) {
            if (shouldLogout) {
                navigator.sendBeacon('/Account/Logout');
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#logoButton').on('click', function () {
                window.location.href = '@Url.Action("homepage", "Home")';
            });
        });
    </script>
</head>

<body>
    <header class="fixed-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="/image/logo.png" alt="EK" style="width:6%; cursor: pointer;" id="logoButton">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="margin-left:500px;"class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="homepage">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="default">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="contact">CONTACT</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li style="margin-left:400px;" class="nav-item">
                            <button class="icon-button" onclick="redirectToBag()">
                                <z class="mdi mdi-basket"></z>
                            </button>
                        </li>
                        <li class="nav-item">
                            <div class="w3-dropdown-hover">
                                <span class="mdi mdi-account custom-icon"></span>
                                <div class="w3-dropdown-content w3-bar-block">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="UserInformation">Profile</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="MyOrders">Orders</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Payment" asp-action="Save_Card">Payment</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Addresses">Addresses</a>
                                    <a class="nav-link text-dark" href="#" onclick="handleLogout()">Quit</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="pc">
        <div class="footer-content">
            <a href="https://github.com/erenkotug" class="github">
                <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/erenkotug/" class="codepen">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <div class="copyright">
                <p>Made by <span>EREN KÖTÜĞ</span></p>
            </div>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
